.sp-c-00 { display: block; height: var(--s-00); }
.sp-c-01 { display: block; height: var(--s-01); }
.sp-c-02 { display: block; height: var(--s-02); }
.sp-c-04 { display: block; height: var(--s-04); }
.sp-c-06 { display: block; height: var(--s-06); }
.sp-c-08 { display: block; height: var(--s-08); }
.sp-c-12 { display: block; height: var(--s-12); }
.sp-c-16 { display: block; height: var(--s-16); }
.sp-c-20 { display: block; height: var(--s-20); }
.sp-c-24 { display: block; height: var(--s-24); }
.sp-c-32 { display: block; height: var(--s-32); }
.sp-c-40 { display: block; height: var(--s-40); }
.sp-c-48 { display: block; height: var(--s-48); }
.sp-c-56 { display: block; height: var(--s-56); }
.sp-c-64 { display: block; height: var(--s-64); }
.sp-c-72 { display: block; height: var(--s-72); }
.sp-c-80 { display: block; height: var(--s-80); }
.sp-c-96 { display: block; height: var(--s-96); }
.sp-c-112 { display: block; height: var(--s-112); }
.sp-c-120 { display: block; height: var(--s-120); }
.sp-c-128 { display: block; height: var(--s-128); }
.sp-c-160 { display: block; height: var(--s-160); }
