:root {
    --s-00: 0rem;
    --s-01: 0.0625rem;
    --s-02: 0.125rem;
    --s-04: 0.25rem;
    --s-06: 0.375rem;
    --s-08: 0.5rem;
    --s-12: 0.75rem;
    --s-16: 1rem;
    --s-20: 1.25rem;
    --s-24: 1.5rem;
    --s-32: 2rem;
    --s-40: 2.5rem;
    --s-48: 3rem;
    --s-56: 3.5rem;
    --s-64: 4rem;
    --s-72: 4.5rem;
    --s-80: 5rem;
    --s-96: 6rem;
    --s-112: 7rem;
    --s-120: 7.5rem;
    --s-128: 8rem;
    --s-160: 10rem;
}